@use "../../scss/abstracts/mixins";

.cardNav {
  display: flex;
  flex-direction: column;

  @include mixins.respond-to(md) {
    flex-direction: row;
  }
}

.shopText {
  @include mixins.transition(color);

  bottom: 2.6rem;
  color: var(--clr-neutral-47);

  @include mixins.respond-to(lg) {
    bottom: 3.4rem;
  }

  & > span {
    background-color: var(--clr-primary-able);
    display: inline-block;
    height: 1.2rem;
    margin-left: 1.3rem;
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS4zMjIgMWw1IDUtNSA1IiBzdHJva2U9IiNEODdENEEiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS4zMjIgMWw1IDUtNSA1IiBzdHJva2U9IiNEODdENEEiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    mask-size: 100%;
    width: 0.8rem;
  }
}

.link {
  color: inherit;
  display: block;
  min-height: 21.7rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include mixins.respond-to(lg) {
    min-height: 28.4rem;
  }

  &::before {
    @include mixins.transition(background-color);

    background-color: var(--clr-neutral-97);
    border-radius: var(--root-border-radius);
    bottom: 0;
    content: "";
    min-height: 16.5rem;
    left: 0;
    position: absolute;
    width: 100%;

    @include mixins.respond-to(lg) {
      min-height: 20.4rem;
    }
  }

  &:focus,
  &:hover {
    &::before {
      background-color: var(--clr-neutral-95);
    }

    & > .shopText {
      color: var(--clr-primary-able);
    }
  }

  &::after {
    background-position: center 0;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  & + a {
    margin-top: 2rem;

    @include mixins.respond-to(md) {
      margin-left: 1rem;
      margin-top: unset;
    }

    @include mixins.respond-to(lg) {
      margin-left: 3rem;
    }
  }

  & > span {
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.text {
  bottom: 5.7rem;
  letter-spacing: 0.107rem;
  text-transform: uppercase;

  @include mixins.respond-to(lg) {
    bottom: 6.3rem;
    letter-spacing: 0.129rem;
    font-size: 1.8rem;
  }
}

.headphones::after {
  background-image: url("../../../public/media/categories/headphones.jpg");
  background-size: 15rem;

  @include mixins.respond-to(lg) {
    background-position: center 1rem;
    background-size: 20rem;
  }
}

.speakers::after {
  background-image: url("../../../public/media/categories/speakers.jpg");
  background-size: 15rem;

  @include mixins.respond-to(lg) {
    background-position: center 1.5rem;
    background-size: 20rem;
  }
}

.earphones::after {
  background-image: url("../../../public/media/categories/earphones.jpg");
  background-size: 18rem;

  @include mixins.respond-to(lg) {
    background-position: center 1.5rem;
    background-size: 23rem;
  }
}
