$types: (
  body: (
    font-family: 'Manrope',
    font-size: 1.5rem,
    font-weight: 500,
    line-height: 2.5rem,
  ),
  1: (
    font-family: 'Manrope',
    font-size: 5.6rem,
    font-weight: 700,
    letter-spacing: 0.2rem,
    line-height: 5.8rem,
    text-transform: uppercase,
  ),
  2: (
    font-family: 'Manrope',
    font-size: 4rem,
    font-weight: 700,
    letter-spacing: 0.15rem,
    line-height: 4.4rem,
    text-transform: uppercase,
  ),
  3: (
    font-family: 'Manrope',
    font-size: 3.2rem,
    font-weight: 700,
    letter-spacing: 0.115rem,
    line-height: 3.6rem,
    text-transform: uppercase,
  ),
  4: (
    font-family: 'Manrope',
    font-size: 2.8rem,
    font-weight: 700,
    letter-spacing: 0.2rem,
    line-height: 3.8rem,
    text-transform: uppercase,
  ),
  5: (
    font-family: 'Manrope',
    font-size: 2.4rem,
    font-weight: 700,
    letter-spacing: 0.17rem,
    line-height: 3.3rem,
    text-transform: uppercase,
  ),
  6: (
    font-family: 'Manrope',
    font-size: 1.8rem,
    font-weight: 700,
    letter-spacing: 0.13rem,
    line-height: 2.4rem,
    text-transform: uppercase,
  ),
  overline: (
    font-family: 'Manrope',
    font-size: 1.4rem,
    font-weight: normal,
    letter-spacing: 1rem,
    line-height: 1.9rem,
    text-transform: uppercase,
  ),
  sub-title: (
    font-family: 'Manrope',
    font-size: 1.3rem,
    font-weight: 700,
    letter-spacing: 0.1rem,
    line-height: 2.5rem,
    text-transform: uppercase,
  ),
  form-label: (
    font-family: 'Manrope',
    font-size: 1.2rem,
    font-weight: 700,
    letter-spacing: -0.021rem,
    line-height: 1,
  ),
  form-control: (
    font-family: 'Manrope',
    font-size: 1.4rem,
    font-weight: 700,
    letter-spacing: -0.025rem,
    line-height: 1,
  ),
  button: (
    font-family: 'Manrope',
    font-size: 1.3rem,
    font-weight: 700,
    letter-spacing: 0.1rem,
    line-height: 1,
    text-transform: uppercase,
  ),
);
